<h3> <%= @user.email %>  </h3>
<br>
 <% if !@user.friends.find_by(friend_id:current_user.id).nil? %>
<% @audios.each do |audio| %>
<h4> <%= audio.name %> </h4>
<%= audio_tag "#{audio.name}.mp3", id: "playera#{audio.id}", controls: 'controls#{audio.id}'%>
<% end %>
<% else %>
Вас не добавили в друзья
<% end %>